@font-face {
    font-family: "Circe";
    src: url("../assets/fonts/Circe/circe.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "GilroyLight";
    src: url("../assets/fonts/Gilroy/gilroy-light.ttf");
}

@font-face {
    font-family: "GilroyRegular";
    src: url("../assets/fonts/Gilroy/gilroy-regular.ttf");
}

@font-face {
    font-family: "GilroyExtraBold";
    src: url("../assets/fonts/Gilroy/gilroy-extrabold.ttf");
}

@font-face {
    font-family: "DINPro";
    src: url("../assets/fonts/DINPro/din-pro.ttf");
}

@font-face {
    font-family: "DINProBold";
    src: url("../assets/fonts/DINPro/din-pro-bold.ttf");
}
