.slider {
    height: 100%;
    width: 100%;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider_pages {
    display: flex;
    height: 100%;

    background-image: url("../../../assets/images/background/bg.webp");
    background-repeat: no-repeat;
    background-size: contain;

    transition: transform 0.4s ease-in-out;
}
