@import "../../../../../styles/colors.scss";

.main_slide {
    height: 100%;
    padding-top: 150px;
    position: relative;
}

.title {
    text-transform: uppercase;
    position: relative;
    z-index: 10;
}

.subtitle {
    display: block;
    margin-bottom: 20px;

    font-family: "DINPro";
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.main_title {
    font-family: "GilroyLight";
    font-size: 10.5rem;
    line-height: 1.1;
    letter-spacing: 5px;

    & span {
        font-family: "GilroyExtraBold";
    }
}

.main_slide__btn {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 20px;
    right: 70px;
}

.main_slide__btn_arrow {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 15px;

    background: $secondary;
    border-radius: 50%;
    box-shadow: 2px 2px 3px 2px #ffaccb, -2px -2px 3px 2px #c94d7a;

    position: relative;
}

.main_slide__btn_arrow__icon {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
